[user]
name = Shuhei Eda 
email = shumach5@gmail.com

[color]
ui =auto
status = auto
diff = auto
branch = auto
interactive = auto
grep = auto

[push]
	default = matching

[core]
editor = vim
pager = less

[alias]
br = branch
ci = commit
co = checkout
st = status
clone = clone --recursive

